<!DOCTYPE html>
    <html lang="en" >
        <head>
            <meta charset="UTF-8">
            <title>Mritunjay Shukla</title>
            <link rel="stylesheet" href="./style.css">

        </head>
    <body style=" text-align: center;">

        <div style="margin: auto; width: 50%;">
            <h1>Thankyou</h1>
            <p>We are glade you reachedout to us. <br>
            we will contact you soon!</p>
            <a href="http://www.mritunjayworld.tech">Go back to our home page</a>
        </div>
        
        
    </body>
</html>
